@font-face {
  font-family: "titre";
  src: url("../font/AkiraExpanded.otf");
}
@font-face {
  font-family: "texte";
  src: url("../font/LEMONMILK-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1f3253;
}
/* header */
header {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 98px;
  background-color: rgba(182, 177, 172, 0.479);
  backdrop-filter: blur(4px);
  z-index: 7;
}

.logo {
  width: 70px;
  height: 70px;
  background-image: url("../images/lemsf.png");
  background-size: cover;
}
nav {
  display: flex;
  flex-direction: row;
  margin-left: 35%;
}
.barrep {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 30px;
  font-family: "texte";
  z-index: 10;
}
.sous-menu {
  display: flex;
  flex-direction: column;
  height: 325px;
  z-index: 20;
  margin-top: 300px;
  line-height: 35px;
  font-family: "texte";
}
.ulssmenu {
  display: flex;
  height: 1900px;
  flex-direction: column;
  justify-content: center;
  margin-top: -1900px;
}
.ulssmenu:hover,
.ulssmenu:active {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -80px;
  background: linear-gradient(
    to top,
    rgba(182, 177, 172, 0.479) 69%,
    #cf151200 31%
  );
  border-radius: 0px 0px 15px 15px;
  z-index: 200;
}
.first {
  display: flex;
  margin-left: -10%;
}
p {
  margin-top: 20px;
}
.boutonloupe {
  margin-top: 20px;
  margin-left: 15px;
  width: 50px;
  height: 50px;
}
#loupe {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 24px;
}
.recherche {
  height: 24px;
  border-radius: 15px;
  text-align: center;
}
#chevronbas {
  width: 20px;
}
li {
  margin-right: 20px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ee171f;
}
.pad-ss h4 {
  margin-left: 10px;
}
#deco {
  text-decoration: none;
  color: #ee171f;
  width: 150px;
  height: 50px;
  font-size: 18px;
  border: none;
  background: none;
  font-family: "texte";
  cursor: pointer;
}
/* carrousel */
.box-carrousel {
  height: 100vh;
  width: 100%;
  background-image: url(../images/netf.jpg);

  background-repeat: no-repeat;
  background-size: cover;
}
.carrousel {
  padding-top: 280px;
  position: relative;
  z-index: 2;
}
#carousel {
  position: relative;
  height: 46vh;
  overflow: hidden;
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  height: 30vh;
  width: 30vw;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.prev img {
  width: 300px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
  width: 300px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 200px;
}
/* button carrousel principale */
.buttons {
  position: relative;
  display: flex;
  justify-content: center;
}
#prev,
#next {
  position: relative;
  z-index: 30;
  text-decoration: none;
  color: #ee171f;
  width: 150px;
  height: 50px;
  font-size: 18px;
  border: none;
  background: none;
  font-family: "texte";
  cursor: pointer;
}
/* deuxieme partie des sliders */
.box-nos-films {
  background-color: #1f3253;
}
.box-nos-films:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1f3253, transparent);
  z-index: 1;
}
.titre {
  padding-top: 35px;
  text-align: center;
  font-family: "titre";
  font-size: 26px;
  color: #ee171f;
}
.sous-titre {
  text-decoration: underline;
  font-family: "titre";
  font-size: 22px;
  color: #ee171f;
}
.sliders {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: #1f3253;
  z-index: 2;
}
.slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 300px;
  background: radial-gradient(
    circle farthest-corner at center center,
    #1a2944 10%,
    #1f3253 70%
  );
}
.body-slide {
  height: 200px;
  width: 300px;
  margin-left: 10px;
  text-align: center;
  font-family: "texte";
  font-size: 22px;
}
/* .body-slide:hover {
  cursor: pointer;
  height: 400px;
  width: 600px;
  transition-duration: 1s;
  transition-delay: 1s;
  transform: translateY(-100px);
} */
.body-slide img {
  display: flex;
  width: 95%;
  height: 100%;
  border-radius: 5px;
}
.priv_arrow {
  margin-left: 10px;
  color: #ee171f;
  font-size: 40px;
}
.priv_arrow:hover {
  color: rgb(31, 29, 29);
}
.next_arrow {
  margin-right: 10px;
  font-size: 40px;
  color: #ee171f;
}
.next_arrow:hover {
  color: rgb(31, 29, 29);
}
/* HOVER DES SLIDERS */
/* #a1:hover{}
#a2:hover{}
#a3:hover{}
#a4:hover{}
#a5:hover{}
#a6:hover{}
#a7:hover{}
#a8:hover{}
#h1:hover{}
#h2:hover{}
#h3:hover{}
#h4:hover{}
#h5:hover{}
#h6:hover{}
#h7:hover{}
#h8:hover{}
#c1:hover{}
#c2:hover{}
#c3:hover{}
#c4:hover{}
#c5:hover{}
#c6:hover{}
#c7:hover{}
#c8:hover{}
#s1:hover{}
#s2:hover{}
#s3:hover{}
#s4:hover{}
#s5:hover{}
#s6:hover{}
#s7:hover{}
#s8:hover{} */
