/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20vh;
  background-color: rgb(199, 192, 185);
}
.copy {
  font-family: "texte";
  font-size: 18px;
  padding-left: 60px;
}
.link {
  display: flex;
  flex-direction: row;
}
.icone {
  width: 35px;
  padding: 0 60px 0 0;
}
